<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE struts PUBLIC
    "-//Apache Software Foundation//DTD Struts Configuration 2.0//EN"
    "http://struts.apache.org/dtds/struts-2.0.dtd">
    
<struts>
	<package name="plugin" namespace="/" extends="struts-default,json-default">
	<!-- RTX moyongsheng 2012-10-19 begin-->
		<!-- 同步组织架构信息  moyongsheng 2012-10-19 begin-->
		<action name="initSyncOrganizationalStructure" class="rtxServiceAction" method="initSyncOrganizationalStructure">
			<result name="success">/WEB-INF/pages/rtx/initSyncOrganizationalStructure.jsp</result>
		</action>
		<action name="syncOrganizationalStructure" class="rtxServiceAction" method="syncOrganizationalStructure">
			<result name="success">/WEB-INF/pages/rtx/syncOrganizationalStructureOK.jsp</result>
		</action>		
		<action name="initRtxLogin" class="rtxServiceAction" method="initRtxLogin">
			<result name="success">/WEB-INF/pages/rtx/rtxLogin.jsp</result>
		</action>
		<action name="rtxLogin" class="rtxServiceAction" method="rtxLogin">
			<result name="success">/WEB-INF/pages/rtx/rtxLoginOK.jsp</result>
			<result name="error" type="chain">initLogin</result>
			<interceptor-ref name="defaultStack"></interceptor-ref>
		</action>
		<action name="initDepartment" class="rtxServiceAction" method="initDepartment">
			<result name="success">/WEB-INF/pages/rtx/initDepartment.jsp</result>
			<result name="error" type="chain">initLogin</result>
		</action>		
	<!-- RTX  begin-->	
	
	<!-- HTTP plugin moyongsheng 2016-05-01 begin-->
		<action name="getCustomerInfoJson" class="httpJsonAction" method="getCustomerInfoJson">  
            <result type="json">  
                <!-- 这里指定将被Struts2序列化的属性，该属性在action中必须有对应的getter方法 -->  
                <param name="contentType">text/html</param>
                <param name="root">dataMap</param>  
            </result>  
        </action>
	<!-- HTTP plugin end-->		
		  
	</package>
</struts>