@charset "utf-8";
/* CSS Document */
/*  *{ margin:0; padding:0; }  */
/* html{overflow-y:scroll;}    */
body{ font:12px Arial; }
a{ color:#000; text-decoration:none; }
h2{ font-size:16px; }
ul{ list-style:none; }
input, textarea{ font-size:12px; resize: none; }
.fr{ float:right; }


.wrap_menu{ height:26px; background:url(img/headTitle.gif) 0 -34px repeat-x; }
.menu{ width:1003px; margin:0 auto; }
.menu h2{ height:30px; line-height:30px; background:url(img/file.gif) 10px center no-repeat; text-indent:46px; color:#143205; }
.menu ul{ height:26px; padding:0 8px; }
.menu ul li{ height:23px; line-height:23px; float:left; margin:1px 2px 0; }
.menu ul li.line{ background:url(img/split.gif) 0 center no-repeat; width:2px; overflow:hidden; }
.menu ul li a{ display:inline-block; padding:0 4px; zoom:1; cursor:pointer; }
.menu i{ display:inline-block; font-style:normal; background:url(img/ico.png) 0 3px no-repeat; _background:url(img/ico.gif) 0 3px no-repeat; padding:1px 0 0 18px; }
.menu ul li:hover{ background:url(img/hover.gif) 0 0 no-repeat; }
.menu ul li:hover a{ background:url(img/hover.gif) right -23px no-repeat; }
.save i{ background-position:0 -25px; }
.savetemplate i{ background-position:0 -56px; }
.savecollate i{ background-position:0 -56px; }
.new i{ background-position:0 -86px; }
.copy i{ background-position:0 -116px; }
.delete i{ background-position:0 -144px; }
.audit i{ background-position:0 -176px; }
.prev i{ background-position:-250px 6px; }
.next i{ background-position:-250px -24px; }
.skip i{ background-position:-250px -56px; }
.search i{ background-position:-250px -86px; }
.print i{ background-position:-250px -116px; }
.disable i{ color:#808080; }
#keyboard i{ background:url(img/ico-shortcut-key.gif) 0 3px no-repeat; padding:1px 0 0 35px;}

#template{ float:right; position:relative; height:30px; line-height:35px; margin:0; }
#template span{ /*position:absolute; right:10px; top:39px; */ background:url(img/dropdown.gif) right center no-repeat; padding-right:18px; cursor:pointer; }
 
.template{ display:none; position:absolute; top:30px; right:0; z-index:1001; width:320px; height:350px; overflow-y:scroll; overflow-x:hidden; border:3px solid #dedede; background:#fcfafa; }
.template table{ width:100%; margin:0; padding:0; border-collapse:collapse; }
.template td, .template th{ border-bottom:1px dotted #ccc; padding:0 3px; font-weight:normal; }
.template td dd{ line-height:1; padding:5px 0; }


#addtemplate{ float:right; position:relative; height:30px; line-height:35px; margin:0; }
#addtemplate span{ /*position:absolute; right:10px; top:39px; */ background:url(img/dropdown.gif) right center no-repeat; padding-right:18px; cursor:pointer; }

.addtemplate{ display:none; position:absolute; top:30px; right:0; z-index:10000; width:300px; height:100px; overflow-y:scroll; overflow-x:hidden; border:3px solid #dedede; background:#fcfafa; }
.addtemplate table{ width:100%; margin:0; padding:0; border-collapse:collapse; }
.addtemplate td, .template th{  padding:0 3px; font-weight:normal; }
.addtemplate td dd{ line-height:1; padding:5px 0; }

.con_voucher { width:100%; margin:0 auto; }
.con_voucher h2{ font:24px "微软雅黑"; text-align:center; padding:8px 0 0 0; }
.SN{ text-align:right; vertical-align:middle; margin:-10px 25px 0 0; }
.SN label{ vertical-align:middle; }

#tb_parameter{ border-collapse:collapse; width:960px; margin:10px 10px; }
#tb_parameter span{ padding:0 3px; }
#tb_parameter .txt_105{ margin-right:16px; }
#tb_voucher{ border-collapse:collapse; border:1px solid #666; width:100%; }
#tb_voucher th, #tb_voucher td { border:1px solid #666; }
#tb_voucher th { padding:2px 0; }
#tb_voucher th.double, #tb_voucher td.double{ border-right:2px solid #666; }
#tb_voucher td { height:22px; }
#tb_voucher .del{ background:url(img/tbtn_delete.gif) center center no-repeat; display:inline-block; width:20px; line-height:20px; cursor:pointer; }
#tb_voucher .add{ background:url(img/tbtn_add.gif) center center no-repeat; display:inline-block; width:20px; line-height:20px; cursor:pointer; }
#tb_voucher .select{ background:url(img/form_search.jpg) center center no-repeat; display:inline-block; width:20px; line-height:20px; cursor:pointer; }
#tb_voucher .total{ padding:0 8px; height:40px; }
#tb_voucher tfoot dl{ height:40px; overflow:hidden; zoom:1; padding:16px 0 0 0; }
#tb_voucher tfoot dd{ float:left; margin:0 20px 0 10px; *margin:0 16px 0 10px; _display:inline; vertical-align:middle; }
.sel_105, .sel_50{ border:1px solid #666; width:105px; height:20px; line-height:20px; vertical-align:middle; }
.txt_105, .txt_45, .txt_50, .txt_45p{ border:1px solid #666; width:105px; height:18px; line-height:18px; padding:0 2px; vertical-align:middle; }
.txt_45{ width:45px; text-align:right; }
.txt_45p{ width:27px; text-align:right; padding-right:20px; }
.txt_50, .sel_50{ width:50px; }
.confirm, .confirm li{ margin:0; padding:0; list-style:none; }
.confirm{ height:40px; line-height:40px; }
.confirm li{ text-align:right; }

.summary{ border:1px solid #FFF; width:262px; height:24px; line-height:20px; padding:0 2px; vertical-align:middle; overflow:hidden; } 
.summary.edit, .subject.edit{ border:1px solid #c4e9fd; background:#f1f1f1; }

.subject{ border:1px solid #FFF; width:294px; height:24px; line-height:24px; padding:0 2px; vertical-align:middle; }
.form_add{ vertical-align:middle; }

.debite, .credit{ border:0 solid #FFF; width:168px; height:26px; line-height:26px; padding:0 2px 0 2px; text-align:right; font-weight:bold; letter-spacing:5px; background:url(img/line.gif) center right repeat-y; ime-mode:Disabled;}
#AmountWords{ border:0 solid #FFF; width:360px; height:26px; line-height:26px; padding:2px 3px 0 2px; font-weight:bold; vertical-align:middle; }

.scale{ background:url(img/scale.gif) center right no-repeat; width:168px;}
.s_line{ background:url(img/line.gif) center right repeat-y; text-align:right; }

#td_mark .CRselectBox, #td_mark .CRselectBoxOptions{ width:50px; }
#td_mark .CRselectBox a.CRselectValue{ width:24px; }
#td_mark .CRselectBoxOptions{ height:45px; }

.f_l{ float:left; vertical-align:middle; padding:3px 0 0 0; }
.CRselectBox { background:#FFFFFF url(img/select_box_off.gif) no-repeat right center; border:1px solid #666; cursor:pointer; width:100px; height: 18px; display:inline-block; vertical-align:middle; }
.CRselectBoxHover { background:#FFFFFF url(img/select_box_on.gif) no-repeat right center; }
.CRselectBox a.CRselectValue {
	display:block;
	margin:1px 1px 2px;
	padding:1px 20px 2px 4px;
	white-space:nowrap;
	color:#000;	
	overflow:hidden;
	width:74px;
}
.CRselectBoxOptions {
	background:#FFFFFF;
	border:1px solid #999;
	margin-left:-1px;
	list-style:none;
	overflow-y:auto;
	z-index:1000;
	position: absolute;
	width:100px;height:100px;display:none;
	overflow:auto;
}
.CRselectBoxOptions a{
	color:#000;
	display:block;
	height:22px;
	line-height:22px;
	padding-left:4px;
	background:#fff;	
	overflow:hidden;
	white-space:nowrap;
}
.CRselectBoxOptions a:hover{
	background:#ddd;
}
.CRselectBoxOptions a.selected{
	background:#a0daff;
}
/* 解决 firefox 点击放大出现虚线框，从而导致滚动条的问题  */
.CRselectBox a { 
	outline: none; 
	text-decoration:none;
}
.CRselectBox a:focus { 
	outline: none; 
	text-decoration:none;
} 

.relative_summary, .relative_subject{ position:relative; }
.relative_summary img, .relative_subject img{ position:absolute; top:5px; right:5px; cursor:pointer; z-index:1000; }

/* 计算器样式 */
#jsq{margin:0; padding:0; border-collapse:collapse; border:2px solid #ccc; display:none; position:absolute; z-index:10; background:#effdff}
#jsq td{height:32px}
#jsq input{width:35px; font:16px/22px "微软雅黑"}
#jsq .clear{width:72px}
#jsq .equal{width:112px}
#jsq th{text-align:left; width:180px; margin:0; padding:0}
#jsq th input{border:1px solid #14abc2; line-height:22px; height:22px; padding:0 3px; width:180px; font:bold 14px "微软雅黑"; text-align:right; margin:0}

.extra_item{ padding:2px 0 2px 4px; overflow:hidden; zoom:1; background:#f1f1f1; font-size:11px; }
.extra_item dd{ float:left; margin:0 10px 0 0; }
.extra_item select{ vertical-align:middle; height:18px; font-size:11px; border:1px solid #BBB; }
.extra_item input{ border:1px solid #BBB; width:60px; padding:1px; vertical-align:middle; font-size:11px; text-align: right;}  
.extra_item .txt-fz{ width:150px; text-align: left;}
.extra_item .txt-yb{ width:80px; text-align: right;}

.ac_input{text-align: left;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.debite, .credit{ border:0 solid #FFF; width:168px; height:26px; line-height:26px; padding:0 0px 0 2px; font-weight:bold; letter-spacing:5px; background:url(img/line.gif) center right repeat-y; ime-mode:Disabled; }

}

